<h1>Offboarding</h1>

<div class="app-onboarding__header">
  <div>Employees</div>

  <mat-form-field>
    <input [formControl]="searchControl" matInput placeholder="Search">
  </mat-form-field>
</div>

@if (vo$ | async; as vo) {
  @switch (vo.userList.status) {
    @case (Status.LOADING) {
      <mat-spinner></mat-spinner>
    }

    @case (Status.ERROR) {
      An error occurred.
    }

    @case (Status.SUCCESS) {
      <table
        mat-table [dataSource]="vo.userList.items" [trackBy]="trackUser"
        matSort (matSortChange)="onSortChange($event)"
      >
        <ng-container [matColumnDef]="SortKey.NAME">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Full name </th>
          <td mat-cell *matCellDef="let user"> {{ user.name }} </td>
        </ng-container>

        <ng-container [matColumnDef]="SortKey.EMAIL">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
        </ng-container>

        <ng-container [matColumnDef]="SortKey.DEPARTMENT">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
          <td mat-cell *matCellDef="let user"> {{ user.department }} </td>
        </ng-container>

        <ng-container [matColumnDef]="SortKey.EQUIPMENT">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment </th>
          <td mat-cell *matCellDef="let user"> {{ user.equipments | equipmentList }} </td>
        </ng-container>

        <ng-container [matColumnDef]="SortKey.STATUS">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let user"> {{ user.status | status }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    }
  }
}
