:host, .app-dashboard {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 992px;
  padding: 20px;
}

.app-dashboard__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.app-dashboard__spinner {
  margin: 0 auto;
  text-align: center;
}
