<h1>Offboarding</h1>

<div class="app-dashboard__header">
  <div>Employees</div>

  <mat-form-field>
    <input [formControl]="searchControl" matInput placeholder="Search" type="search">
  </mat-form-field>
</div>

@if (vo$ | async; as vo) {
  @switch (vo.userList.status) {
    @case (Status.LOADING) {
      <mat-spinner class="app-dashboard__spinner"></mat-spinner>
    }

    @case (Status.ERROR) {
      An error occurred.
    }

    @case (Status.SUCCESS) {
      <div class="app-dashboard-table">
        <div class="app-dashboard-table__row app-dashboard-table__row_header">
          <div class="app-dashboard-table__cell">Full name</div>
          <div class="app-dashboard-table__cell">Email</div>
          <div class="app-dashboard-table__cell">Department</div>
          <div class="app-dashboard-table__cell">Equipment</div>
          <div class="app-dashboard-table__cell">Status</div>
        </div>

        @for (user of vo.userList.items; track user.id) {
          <a class="app-dashboard-table__row app-dashboard-table__row_data" [routerLink]="[user.id]">
            <div class="app-dashboard-table__cell">{{ user.name }}</div>
            <div class="app-dashboard-table__cell">{{ user.email }}</div>
            <div class="app-dashboard-table__cell">{{ user.department }}</div>
            <div class="app-dashboard-table__cell">{{ user.equipments | equipmentList }}</div>
            <div class="app-dashboard-table__cell">{{ user.status | status }}</div>
          </a>
        }
      </div>
    }
  }
}
