<div>
  <a mat-button routerLink="../">
    < Back
  </a>
</div>

@if (vo$ | async; as vo) {
  @switch (vo.status) {
    @case (Status.LOADING) {
      <mat-spinner class="app-employee-details__placeholder"></mat-spinner>
    }
    @case (Status.ERROR) {
      <div class="app-employee-details__placeholder">En error occurred.</div>
    }
    @case (Status.SUCCESS) {
      <div class="app-employee-details__header">
        <h1>{{ vo.user.name }}</h1>

        @if (vo.user.status === UserStatus.ACTIVE) {
          <button
            type="button"
            mat-flat-button
            (click)="onOffboardClick(vo.user)"
          >
            Offboard
          </button>
        }
      </div>

      <section>
        <h2 class="app-employee-details__subtitle">Employee details</h2>

        <div class="app-employee-details-properties">
          <div class="app-employee-details-properties__item">
            <div>Full name</div>
            <div>{{ vo.user.name }}</div>
          </div>

          <div class="app-employee-details-properties__item">
            <div>Email</div>
            <div>{{ vo.user.email }}</div>
          </div>

          <div class="app-employee-details-properties__item">
            <div>Department</div>
            <div>{{ vo.user.department }}</div>
          </div>
        </div>
      </section>

      <section>
        <h2 class="app-employee-details__subtitle">Equipment</h2>

        <table mat-table [dataSource]="vo.user.equipments" [trackBy]="trackEquipment">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Item </th>
            <td mat-cell *matCellDef="let equipment"> {{ equipment.name }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>
    }
  }
}

