:host, .app-employee-details {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 992px;
  padding: 20px;
}

.app-employee-details__header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 20px;
}

.app-employee-details__placeholder {
  margin: 0 auto;
}

.app-employee-details__subtitle {
  border-bottom: 2px solid #000
}

//region .app-employee-details-properties
.app-employee-details-properties {
  display: grid;
  grid-template-columns: 100px 1fr 100px 1fr;
  gap: 20px;
}

.app-employee-details-properties__item {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
}
//endregion
